<div class="social-links">
    <a href="https://vk.com/domos_expert" class="vk">
        <i class="social-icons soc-Vkontakte"></i>
    </a>
    <a href="https://t.me/domos_expert" class="tg">
        <i class="social-icons soc-Telegram"></i>
    </a>
    <a href="https://wa.me/89778055600?text=%D0%94%D0%BE%D0%B1%D1%80%D1%8B%D0%B9%20%D0%B4%D0%B5%D0%BD%D1%8C!" class="wa">
        <i class="social-icons soc-WhatsApp"></i>
    </a>
    <a href="https://instagram.com/domos_expert?igshid=MjEwN2IyYWYwYw==" class="insta">
        <i class="social-icons soc-Instagram"></i>
    </a>
</div>